node_modules
.env
.env*
**/.env*
.next
out
dist
build
.coverage
coverage
**/.turbo
**/.next
**/.DS_Store
**/*.log
**/.vscode
**/.idea
**/.cache
**/tmp
**/.tsbuildinfo
**/.eslintcache
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
docker-data
docker-compose.yaml
